@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;700;800&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-inter: Inter;

  /* font sizes */
  --font-size-lg: 18px;
  --font-size-5xl: 24px;
  --font-size-base: 16px;
  --font-size-37xl: 56px;
  --font-size-13xl: 32px;

  /* Colors */
  --color-gray-100: #29292f;
  --color-gray-200: #24242d;
  --color-gray-300: #1e1f25;
  --color-slategray: #7d7d94;
  --color-darkslategray: #434343;
  --color-gainsboro: #dadada;
  --color-black: #000;
  --color-lightslategray: #9494b8;
  --color-white: #fff;

  /* Gaps */
  --gap-3xs: 10px;
  --gap-base: 16px;

  /* Paddings */
  --padding-13xl: 32px;
  --padding-base: 16px;

  /* border radiuses */
  --br-7xs: 6px;
}
